header {
  text-align: center;
  font: 1em sans-serif;
  background-image: url(images/headerBack.jpg);
  background-position: bottom;
  background-size: cover;
}

footer {
  background-color: #343330;
  text-align: center;
  
}

#name {
  color: white;
  padding-bottom: 20px;
}

#menu {
  background-color: #343330;
  text-align: center;
  color: white;
  
}
.menuList {
  list-style-type: none;
  
}

#andrePhoto {
  border-radius: 100%;
  border-width:thick;
  border-style: dotted;
  border-color: white;
  border-spacing: 100px;
}

.contactMeLinks {
  list-style-type: none;
  
  
}







